/*estilos Generales*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Merriweather', serif;
    font-size: 20px;
}

.font-size{
    font-size: 26px;
    text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
}

.centrado{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.mb-16{
    margin-bottom: 16px;
}

.mt-30{
    margin-top: 30px;
}

.mt-16{
    margin-top: 16px;
}

.mt-8{
    margin-top: 8px;
}

.ml-16{
    margin-left: 16px;
}

.ml-20{
    margin-left: 20px;
}

.mr-16{
    margin-right: 16px;
}

.texto-negrita-subrayado{
    text-decoration: underline;
}

.titulos-h3{
    font-size: 32px;
    color: white;
    text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
}

.titulos-h2{
    font-size: 40px;
    color: white;
    text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
}





/* NAVBAR */
.navbar {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }


.navbar img{
    height: 3em;
    width: auto;
    transition: all 0.3s;
    margin-right: 0.5em;
}

.navbar img:hover{
    transform: scale(1.2);

}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
}

.nombre-logo{
    font-weight: bold;
}

#navbarSupportedContent{
    margin-left: 45%;
}

.menu{
    list-style: none;
}

.menu li{
    display: inline-block;
    padding: 1em;
    text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
    margin-right: -3%;
}

.menu li:hover{
    transform: scale(1.1);
}

.menu li a{
    font-size: 20;
    color: white;
    text-decoration: none;
}

.menu li a:hover{
    color: rgb(205, 143, 10);
}

.navbar-toggler{
    background-color: white !important;
}

.btn-relative{
    margin-left: -2%;
    position: relative;
    left: 1590px;
}

.btn-c{
    color: #1b3039;
    padding: 0.625em 1em;
    background: #eceff1;
    border-radius: 3.125em;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    font-size: 20px;
}

.btn-c:hover{
    background-color: #30a644;
    color: white;
    transform: scale(1.1);
    text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 10px #1a5b25;
}

p{
    margin-bottom: 0;
}

/* estilos del index.html */
.fondo-index{
    background-image: url("../imagenes/montana.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

.titulo-animado {
    display: inline-block;
    animation: animacion-titulo 3s ease-in-out;
    color: white;
    font-family:'Merriweather', serif;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    position: absolute;
    bottom: 60vh;
    width: 80%;
    margin-left: 2%;
  }
@keyframes animacion-titulo {
    30% {
      color: #f0f0f0;
      text-shadow: 0 0 0.313em #f0f0f0;
    }
    70% {
      color: rgb(220, 220, 220);
      text-shadow: 0 0 1.25em #ffffff;
    }
      40% {
        transform: scale(1.2);
      }
      90% {
        transform: scale(1);
      }
}

.video-i{
    width: 10vw;
    height: auto;
    float: right;
    margin-top: 5%;
}

.info-izquierda{
    text-align: justify;
    position: absolute;
    bottom: 15%;
    width: 27%;
    padding-left: 5%;
}

.info-abajo{
    text-align: center;
    position: absolute;
    bottom: 15%;
    width: 100%;
}

.info-derecha{
    text-align: justify;
    right: 0;
    position: absolute;
    bottom: 15%;
    width: 25%;
    padding-right: 5%;
}

.parrafo-index{
    color: rgb(228, 228, 228);
    font-size: 16px;
    text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
}




/* estilos del Equipamiento.html */
.fondo-equipo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../imagenes/fondo-equip.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

.parrafo{
    font-size: 26px;
    text-align: center;
    width: 100%;
    padding: 1em 5% 1em 5%;
    background-color: rgba(0, 0, 0, 0.378);
    color: white;
}

.h3-equipo{
    text-align: center;
}

.div-equipo{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.video-equipo{
    width: 92%;
    height: auto;
    margin-right: 5%;
    padding-top: 5%;
}

.info-equipo{
    color: white;
    letter-spacing: 1px;
    width: 50%;
    margin: 2% 0 2% 3%;
    text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
}


/*estilos del Donde-ir.html*/
.fondo-donde-ir{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),  url("../imagenes/Fondo-dondeIr.png");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(0.25em);
    opacity: 0.8;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

.titulo-p{
    color: white;
    text-align: center;
    margin-top: 5%;
    text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
}

.parrafo-donde-ir{
    color: white;
    font-size: 26px;
    margin: 2% 6% 2% 6%;
    letter-spacing: 0.1em;
}

.h3-lugares{
    font-size: 28px;
    color: white;
    text-align: center;
    text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
    margin: 1% 5% 2% 5%;
    letter-spacing: 0.1em;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
  }
  
  .tarjeta {
    border: 4px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.685);
    width: 15em;
    background-color: rgba(0, 0, 0, 0.471);
    cursor: pointer;
    margin-bottom: 2%;
  }
  
  .tarjeta img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .tarjeta h2 {
    margin: 0.5em;
    font-size: 1rem;
    color: white;
  }

  
  
/* estilos del Quienes-somos.html */
.fondo-quienes-somos{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../imagenes/Fondo-quienesom.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

.quienes-h3{
    text-align: center;
    color: white;
    font-size: 32px;
    padding-top: 1%;
    text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
}

.quienes-text{
    text-align: center;
    color: white;
    font-size: 26px;
    margin: 3% 6% 3% 6%;
    letter-spacing: 0.1em;
    text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
}




/* estilos del contacto.html */
.fondo-contacto{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../imagenes/fondo-contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

.contact-h2{
    text-align: center;
    margin: 5%;
}

.contactar{
    align-items: center;
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.contact{
    color: white;
    max-width: 600px;
    margin: auto;
    padding: 0 2% 0 2%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.msg{
    text-align: center;
    font-size: 26px;
    color: white;
    margin: 2%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

label {
    display: block;
    margin-bottom: 10px;
  }
  
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 16px;
  }
  
textarea {
    height: 150px;
  }
  
button[type="submit"] {
    background-color: #50b453;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
  }
  
button[type="submit"]:hover {
    background-color: #347b36;
  }





/*estilos del Footer*/
footer{ 
    color: white;
    text-align: center;
    width: 100%;
    bottom: 10px;
    margin-top: auto;
} 

.redes{
    color: white;
    margin-top: 16px;
    cursor: pointer;
    text-decoration: none;
}

.redes:hover{
    color: rgb(205, 143, 10);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}






@media (max-width: 2560px){ 
    .btn-relative{
        margin-left: 10%;
        position: relative;
        left: 1890px;
    }
}

@media (max-width: 1500px){
    .btn-relative{
        margin-left: -22%;
        position: relative;
        left: 1400px;
    }
}

@media (max-width: 1024px){
    .btn-relative{
        margin-left: -38%;
        position: relative;
        left: 1180px;
    }
    .nombre-logo{
        display: none;
    }

}



@media (max-width: 420px) {
    /*Generales*/
    .titulos-h2{
        font-size: 26px;
    }


    .titulos-h3{
        font-size: 18px;
    }

    .navbar {
        color: white;
        font-size: 20px;
        text-decoration: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        padding: 0 !important;
      }
    
    .navbar img{
        height: 3em;
        width: auto;
        transition: all 0.3s;
        margin-right: 0.5em;
        margin-top: 8px;
    }
    
    .navbar img:hover{
        transform: scale(1.2);
    
    }
    
    nav{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        z-index: 9999;
      }
    
    #navbarSupportedContent{
        margin: 0;
        z-index: 9999;
    }

    .nombre-logo{
        display: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .container-fluid{
        background-color: rgba(0, 0, 0, 0.600);
        width: 100vh;
    }

    .mt-186{
        margin-top: 186px;
    }

    .btn-relative{
        margin-left: 0;
        position: relative;
        left: 0px;
    }
    


    


    /*Index*/
    .fondo-index main{
        height: 150%;
    }

    .titulo-animado {
      font-size: 40px;
      text-align: center;
      width: 100%;
      height: 20%;
    }

    .video-i {
      display: none;
    }

    .version-mobile{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .info-izquierda{
        text-align: justify;
        width: 30%;
        padding-left: 5%;
        top: 40%;
        margin-bottom: 20%;
    }

    .info-abajo{
        text-align: center;
        top: 140%;
    }

    .info-derecha{
        text-align: end;
        width: 42%;
        padding-right: 5%;
        top: 40%;
    }

    .parrafo-index{
        color: rgb(228, 228, 228);
        font-size: 16px;
        text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
    }


    /*Equipamiento*/
    .parrafo, .font-size, .info-equipo{
        font-size: 16px;
        padding-left: 2%;
    }

    .div-equipo{
        display: flex;
        flex-direction: column;
    }
    
    .video-equipo{
        width: 90%;
        height: auto;
        margin: 5%;
        padding-top: 5%;
    }






    /*Donde-ir*/
    .h3-lugares{
        font-size: 24px;
        margin-bottom: 5%;
    }

    .info-equipo{
        margin-top: 50px;
        width: 90%;
    }

    .parrafo-donde-ir{
        font-size: 18px;
        padding-bottom: 10%;
    }

    .contenedor-tarjetas{
        padding-bottom: 5%;
    }

    .tarjeta{
        width: 60%;
        height: auto;
        margin-bottom: 10%;
    }






     /*Quienes-somos*/
     .div-quienes-somos{
        margin-bottom: 15%;
     }

     .quienes-h3{
        font-size: 24px;
        padding-top: 8%;
    }

    .quienes-text{
        font-size: 20px;
    }





    /*Contacto*/
    .contact-h2{
        padding-top: 5%;
    }

    .contact{
        padding-top: 10%;
        width: 80%;
        color: white;
        text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
    }

    .msg{
        padding-top: 5%;
        font-size: 20px;
        margin-bottom: 15%;
    }

    /*Contacto*/
    .btn-c{
        color: #1b3039;
        background: #eceff1;
        border-radius: 3.125em;
        cursor: pointer;
        transition: all 0.3s;
        text-decoration: none;
        font-size: 16px;
    }
    

    footer p, a{
        font-size: 16px;
    }

    footer{
        height: 10vh;
        color: white;
        text-align: center;
        width: 100%;
    }
  }







header{
    min-height: 10vh;
}
main{
    min-height: 80vh;
}
footer{
    min-height: 10vh;
}



  footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .icon {
    align-items: center;
    color: white;
  }

  .titulo{
    text-decoration: none;
  }

  li:hover .icon i {
    display: none;
  }
  
  li:hover .titulo {
    display: inline-block;
  }
  

  footer ul{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-left: 0;
  }

  footer ul li{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.663);
    transition: 0.5s;
  }

  footer ul li:hover{
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0,0);
  }

  footer ul li:before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, var(--1), var(--j));
    opacity: 0;
    transition: 0.5s;
  }

  footer ul li:hover::before{
    opacity: 1;
  }

  footer ul li::after{
    content: "";
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--1), var(--j));
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
    filter: blur(15px);
  }

  footer ul li:hover::after{
    opacity: 0.5;
  }

  footer ul li i{
    color: #777;
    font-size: 1.75em !important;
    transition: 0.5s;
    transition-delay: 0.25s;
  }

  footer ul li:hover i{
    transform: scale(0);
    font-size: 1.75em;
    transition-delay: 0.25s;
  }

  footer ul li span{
    position: absolute;
  }

  footer ul li .titulo{
    color: #fff;
    font-size: 1.1em !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
  }

  footer ul li:hover .titulo{
    transform: scale(1);
    transition-delay: 0.25s;
  }

  .bi-facebook, .bi-twitter, .bi-whatsapp, .bi-linkedin, .bi-instagram::before{
    color: white;
  }