/* Estilos Quienes-Somos */
.fondo-quienes-somos{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../imagenes/Fondo-quienesom.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    .main-quienes-somos{
        div{
            .quienes-h3{
                text-align: center;
                color: white;
                font-size: 35px;
                padding-top: 4%;
                text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
                font-family:'Merriweather', serif;
            }
            .quienes-text{
                text-align: center;
                color: white;
                font-size: 24px;
                margin: 1% 5% 3% 5%;
                letter-spacing: 0.1em;
                text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
                font-family:'Merriweather', serif;
            }
        }
    }
}



